<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="OpenRiaServices.DomainServices.Hosting.DomainServicesSection, OpenRiaServices.DomainServices.Hosting" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms" />
    
  <httpModules>
      <add name="DomainServiceModule" type="OpenRiaServices.DomainServices.Hosting.DomainServiceHttpModule, OpenRiaServices.DomainServices.Hosting" />
    </httpModules></system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    
  <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="OpenRiaServices.DomainServices.Hosting.DomainServiceHttpModule, OpenRiaServices.DomainServices.Hosting" />
    </modules></system.webServer>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <domainServices>
      <endpoints>
        <!--<add name="odata"
             type="OpenRiaServices.DomainServices.Hosting.OData.DomainDataServiceFactory, OpenRiaServices.DomainServices.Hosting.OData" />-->
      </endpoints>
    </domainServices>
    
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" /></system.serviceModel>
</configuration>